# API interaction
anthropic
routellm[serve,eval]
openai
groq

# Environment variable management
python-dotenv

# Console formatting and rich text
rich
pylint
pylint[spelling]

# PyPI package distribution
twine

# Additional dependencies
requests

# For RouteLLM
numpy
pandas
scikit-learn
torch
transformers
datasets
tiktoken

# For memory
pymongo
nltk
redis

# For Google Custom Search and SERP
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
serpapi


ansio
python-dotenv
langchain-groq
langchain-huggingface
langchain-openai
langchain-community
langchain-anthropic
langchain-chroma
langchain-google-genai
webcolors
sentence-transformers
docker
paramiko
duckduckgo_search
inputimeout