anthropic
groq
pinecone-client
pymongo
redis
python-dotenv
nltk
scikit-learn
sentence-transformers
fastapi
uvicorn
rich
requests
pydantic
PyGithub
google-api-python-client
loguru
numpy
python-dateutil
PyYAML
tqdm
typing_extensions
threadpoolctl
joblib
dnspython
google-auth-httplib2
httplib2
uritemplate