annotated-types
anthropic
anyio
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
deprecated
distro
dnspython
fastapi
filelock
flask
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
groq
h11
httpcore
httplib2
httpx
huggingface-hub
idna
itsdangerous
jinja2
jiter
joblib
langchain
langchain-community
loguru
markdown-it-py
markupsafe
mdurl
mpmath
networkx
nltk
numpy
openai
packaging
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pygithub
pygments
pyjwt[crypto]
pymongo
pynacl
pyparsing
python-dateutil
python-dotenv
pyyaml
redis
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
typing-extensions
uritemplate
urllib3
uvicorn
werkzeug
wrapt
